* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #0d1117;
  color: #fff;
}

.page {
  display: flex;
  min-height: 100vh;
}

/* LEFT */
.left {
  flex: 1;
  /* background: radial-gradient(circle at bottom, #5b4bff, #000); */
  background-image: url("public/image/signup.jpg");
    background-size: cover;
  background-position: center;
  position: relative;
  padding: 60px;
}

.left-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.left-content p {
  color: rgb(233, 220, 220);
  
}

.floating-icons {
  position: absolute;
  bottom: 80px;
  left: 60px;
  display: flex;
  /* gap: 40px; */
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.icon.purple { background: #a855f7; }
.icon.blue { background: #3b82f6; }
.icon.yellow { background: #facc15; }

/* RIGHT */
.right {
  flex: 0.5;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 360px;
}

.form-card h2 {
  margin-bottom: 20px;
}

.social {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.social.google{
  background-color: rgb(251, 248, 248);
  color: rgb(216, 34, 49);
  }

.divider {
  text-align: center;
  margin: 15px 0;
  color: #777;
}

form label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form small {
  color: #666;
  font-size: 12px;
}

.submit {
  width: 100%;
  padding: 12px;
  background: #24292f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.signin {
  margin-top: 15px;
  font-size: 14px;
}
